<!DOCTYPE html>

<html>
    <head>
        <title>Pattern Maker</title>
        <link rel="stylesheet" href="css/site-style.css">
    </head>

    <body>

        <div class=header>
                <!-- to do:
                - make a logo to put here
                - sign-in option (streach goal! do this last) -->
            <h1>[Knitting an Algorithm logo here]</h1>
        </div>


        <!-- this is just a spacer--figure out how to do this more efficiently -->
        <div> &nbsp; </div>


        
        <div class=section>
                <!-- to do:
                - drop-down menus for selecting relevant gauge information
                    - needle size, yarn weight, 20x20 swatch size measaurement -->
            gauge input goes here
        </div>

        <div class=section>
                <!-- to do:
                - drawing implementation
                    - draw, erase, undo
                    - save image for processing -->
        </div>



    </body>

</html>