<!DOCTYPE html5>

<html>
    <head>
        <title>Pattern Maker</title>
        <link rel="stylesheet" href="css/site-style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content=
                "width=device-width, initial-scale=1.0">
        
        <style>
            * {
                overflow: hidden;
            }
            body {
                text-align: center;
            }
        </style>
    </head>

    <body translate="no" data-new-gr-c-s-check-loaded="14.1100.0" data-gr-ext-installed="">

        <div class=header>
                <!-- to do:
                - make a logo to put here
                - sign-in option (streach goal! do this last) -->
            <h1>[Knitting an Algorithm logo here]</h1>
        </div>


        <!-- this is just a spacer--figure out how to do this more efficiently -->
        <div> &nbsp; </div>


        
        <div class=section>
            <form action="/input-info.php">
                <div class=float-left>

                    <!-- pattern name inserted here will appear as the heading of the output file -->
                    <label for="pattern-title">Pattern Name:</label>
                    <input type="text" id="pattern-title" name="pattern-title">

                    &nbsp;

                    <!-- selection for needle size here -->
                    <label for="needle-size">Needle Size:</label>
                    <select id="needle-size" name="needle-size">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="1">US 1 (2.25 mm)</option>
                        <option value="1.5">US 1.5 (2.5 mm)</option>
                        <option value="2">US 2 (2.75 mm)</option>
                        <option value="2.5">US 2.5 (3.0 mm)</option>
                        <option value="3">US 3 (3.25 mm)</option>
                        <option value="4">US 4 (3.5 mm)</option>
                        <option value="5">US 5 (3.75 mm)</option>
                        <option value="6">US 6 (4.0 mm)</option>
                        <option value="7">US 7 (4.5 mm)</option>
                        <option value="8">US 8 (5.0 mm)</option>
                        <option value="9">US 9 (5.5 mm)</option>
                        <option value="10">US 10 (6.0 mm)</option>
                        <option value="10.5">US 10.5 (6.5 mm)</option>
                        <option value="11">US 11 (8.0 mm)</option>
                        <option value="13">US 13 (9.0 mm)</option>
                        <option value="15">US 15 (10.0 mm)</option>
                        <option value="17">US 17 (12.5 mm)</option>
                    </select>

                    &nbsp;

                    <!-- selection for yarn weight here -->
                    <label for="yarn-weight">Yarn Weight:</label>
                    <select id="yarn-weight" name="yarn-weight">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="0">Lace (0)</option>
                        <option value="1">Super Fine (1)</option>
                        <option value="2">Fine (2)</option>
                        <option value="3">Light (3)</option>
                        <option value="4">Medium (4)</option>
                        <option value="5">Bulky (5)</option>
                        <option value="6">Super Bulky (6)</option>
                        <option value="7">Jumbo (7)</option>
                    </select>

                </div>

                &nbsp;


                <div class=float-right>
                    <div style="font-size:small;">
                        Knit a 20 stitch x 20 row swatch with desired yarn and needles and record the size of that swatch here:
                    </div>

                    <label for="stitches-per-inch">Width:</label>
                    <input type="number" min="0" step=".01" id="stitches-per-inch" name="stitches-per-inch">

                    <label for="rows-per-inch">Height:</label>
                    <input type="number" min="0" step=".01" id="rows-per-inch" name="rows-per-inch">
                </div>

                <!-- spacer -->
                <div>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>
      
                &nbsp;


                <!-- source: https://codepen.io/zxlee618/pen/XPVKvg -->

                <!-- <body translate="no" data-new-gr-c-s-check-loaded="14.1100.0" data-gr-ext-installed="">  (moved to line 21)-->
                    <!-- <h1>HTML Canvas</h1>
                <p>Draw something</p>  -->
                <canvas id="theCanvas" width="800" height="800"></canvas>
                <div>
                    <button id="clearButton">Clear</button>
                </div>
                    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
                
                    
                        <script id="rendered-js">
                const MAIN_MOUSE_BUTTON = 0;
                
                function prepareContext(canvasElement) {
                    let dpr = window.devicePixelRatio || 1;
                    let rect = canvasElement.getBoundingClientRect();
                    canvasElement.width = rect.width * dpr;
                    canvasElement.height = rect.height * dpr;
                
                    let context = canvasElement.getContext("2d");
                    context.scale(dpr, dpr);
                
                    return context;
                }
                
                function setLineProperties(context) {
                    context.lineWidth = 4;
                    context.lineJoin = "round";
                    context.lineCap = "round";
                    return context;
                }
                
                let clearButton = document.getElementById("clearButton");
                let theCanvas = document.getElementById("theCanvas");
                let theContext = prepareContext(theCanvas);
                let shouldDraw = false;
                
                theCanvas.addEventListener("mousedown", start);
                theCanvas.addEventListener("mouseup", end);
                theCanvas.addEventListener("mousemove", move, false);
                
                clearButton.addEventListener("click", event => {
                    clearCanvas(theContext);
                });
                
                
                function clearCanvas(context) {
                    context.clearRect(0, 0, context.canvas.width, context.canvas.height);
                }
                
                function start(event) {
                    if (event.button === MAIN_MOUSE_BUTTON) {
                    shouldDraw = true;
                    setLineProperties(theContext);
                
                    theContext.beginPath();
                
                    let elementRect = event.target.getBoundingClientRect();
                    theContext.moveTo(event.clientX - elementRect.left, event.clientY - elementRect.top);
                    }
                }
                
                function end(event) {
                    if (event.button === MAIN_MOUSE_BUTTON) {
                    shouldDraw = false;
                    }
                }
                
                function move(event) {
                    if (shouldDraw) {
                    let elementRect = event.target.getBoundingClientRect();
                    theContext.lineTo(event.clientX - elementRect.left, event.clientY - elementRect.top);
                    theContext.stroke();
                    }
                }
                //# sourceURL=pen.js
                    </script>
                
            <!-- end cited code from: https://codepen.io/zxlee618/pen/XPVKvg -->

            <button onclick="generate()">take screenshot</button>

            <script>
            function takeScreenshot() {
                var screenshot = document.documentElement
                    .cloneNode(true);
                screenshot.style.pointerEvents = 'none';
                screenshot.style.overflow = 'hidden';
                screenshot.style.webkitUserSelect = 'none';
                screenshot.style.mozUserSelect = 'none';
                screenshot.style.msUserSelect = 'none';
                screenshot.style.oUserSelect = 'none';
                screenshot.style.userSelect = 'none';
                screenshot.dataset.scrollX = window.scrollX;
                screenshot.dataset.scrollY = window.scrollY;
                var blob = new Blob([screenshot.outerHTML], {
                    type: 'text/html'
                });
                return blob;
            }

            function generate() {
                window.URL = window.URL || window.webkitURL;
                window.open(window.URL
                    .createObjectURL(takeScreenshot()));
            }
            </script>

            <a href="/download">download</a>

            </form>
        </div>

    </body>

</html>