<!DOCTYPE html>

<html>
    <head>
        <title>Pattern Maker</title>
        <link rel="stylesheet" href="css/site-style.css">
    </head>

    <body>

        <div class=header>
                <!-- to do:
                - make a logo to put here
                - sign-in option (streach goal! do this last) -->
            <h1>[Knitting an Algorithm logo here]</h1>
        </div>


        <!-- this is just a spacer--figure out how to do this more efficiently -->
        <div> &nbsp; </div>


        
        <div class=section>
            <form action="/input-info.php">
                <div class=float-left>
                    <label for="pattern-title">Pattern Name:</label>
                    <input type="text" id="pattern-title" name="pattern-title">
                </div>
                <div class=float-right>

                    <!-- selection for needle size here (more options later) -->
                    <label for="needle-size">Needle Size:</label>
                    <select id="needle-size" name="needle-size">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="1">US 1 (2.25 mm)</option>
                        <option value="2">US 2 (2.75 mm)</option>
                        <option value="3">US 3 (3.25 mm)</option>
                        <option value="4">US 4 (mm)</option>
                    </select>
                </div>
            </form>
        </div>


         <!-- this is just a spacer--figure out how to do this more efficiently -->
         <div> &nbsp; </div> 
         
         

        <div class=section>
                <!-- to do:
                - drawing implementation
                    - draw, erase, undo
                    - save image for processing -->
            implementation of drawing functionality will go here
        </div>



    </body>

</html>